.heart {
    background-color: #fff;
    width: 50px;
    height: 50px;
    position: relative;
    transform: rotate(45deg);
  }
  .heart::before, .heart::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
  }
  .heart::before {
    left: -25px;
  }
  .heart::after {
    top: -25px;
  }
  
  body {
    padding: 5rem;
    background-color: #f44336;
    height: calc(100vh - 10rem);
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    text-align: center;
    top:100%;
    left: 50%;
    font-size: 30px;
  }

  .popup-box{
	display: none;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
}

.popup-inner{
	max-width: 300px;
	min-height: 160px;
	background: white;
  border-radius: 25px;
	padding: 15px;
	margin: auto;
	top: 25%;
	position: relative;
}



.popup-msg{
	font-weight: bold;
	color: black;
	padding: 20px 20px 0 20px;
}

.next-step-btn{
	margin:20px auto 0;
    background: red;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#015eab', endColorstr='#10276b');
	border: none !important;
	padding: 10px 40px !important;
	color: #fff !important;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
}

.transparent-layer{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.3;
overflow: hidden;

}
#tsparticles canvas {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    pointer-events: none !important;
  }
  
  button:active {
    color: #f00;
  }