.heart {
    background-color: #fff;
    width: 50px;
    height: 50px;
    position: relative;
    transform: rotate(45deg);
  }
  .heart::before, .heart::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
  }
  .heart::before {
    left: -25px;
  }
  .heart::after {
    top: -25px;
  }
  
  body {
    padding: 5rem;
    background-color: #f44336;
    height: calc(100vh - 10rem);
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p {
    text-align: center;
    top:100%;
    left: 50%;
    font-size: 30px;
  }